label {
    color: #313743;
    width: 100%;
    max-width: initial !important;
}

.col-md-4.col-form-label.text-md-right {
    text-align: left !important;
}

a {
    color: #C58758 !important;
    transition: .2s all ease-in-out;
}

a:hover {
    color: #8CAEC7 !important;
}

.form-check {
    margin-bottom: 20px;
}