a {
    color: #C58758;
    transition: .2s all ease-in-out;
}
a:hover {
    color: #C58758 !important;
    text-decoration: none;
}

body {
    background: #FCEDD8 !important
}

.recipe {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    margin-bottom: 50px;
}

.recipe__title {
    font-size: 22px;
    font-weight: bold;
}

.recipe__image, .recipe__title, .recipe__description {
    text-align: center;
}

.recipe__description {
    color: #313743;
    font-size: 18px;
}

.recipe__image img {
    width: 300px;
    height: auto;
}

.recipe__buttons {
    display: flex;
    justify-content: center;
}

.recipe__button {
    background: none;
    border: none;
    color: #8CAEC7;
    font-size: 22px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2 all ease-in-out;
}

.recipe__button:hover {
    color: #C58758;
    cursor: pointer;
}