.form-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: none;
    border: none;
    width: 400px;
}

.card-header {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #C58758;
    background: none;
    border: none;
}

.form-control {
    border: 1px solid #313743;
    background: none;
    transition: .2s all ease-in-out;
    margin-bottom: 10px;
}

.form-control:focus {
    border: 2px solid #C58758;
    background: none;
}

label {
    color: #313743;
    margin-bottom: 0;
    font-size: 14px;
}

table {
    width: 100%;
}

 th {
     color: #313743;
     font-weight: normal;
     padding: 0 5px;
 }

 td {
    padding: 0 5px;
 }

 td:first-child, td:last-child {
     padding: 0;
 }

 td:nth-child(2) {
     padding-right: 0;
 }

 .row {
     flex-direction: column;
     margin-bottom: 0;
 }

 .row:last-child {
     margin-bottom: initial;
 }

 .input-button {
     display: flex;
     margin-bottom: 10px;
     align-items: center;
 }

 .input-button input {
     margin: 0;
     margin-right: 5px;
 }

 .input-button button {
     font-size: 24px;
     background: none;
     color: #8CAEC7;
     border: none;
     height: 100%;
     cursor: pointer;
     transition: .2s all ease-in-out;
 }

 .input-button button:hover {
    color: #C58758;

 }

 .btn-submit {
     color: #FCEDD8;
     background-color: #8CAEC7;
     border: none;
     padding: 5px 10px;
     border-radius: .25rem;
     transition: .2s all ease-in-out;
 }

 .btn-submit:hover {
     cursor: pointer;
     background-color: #C58758;
 }

 .add-btn {
     width: 100%;
     display: flex;
     justify-content: center;
     margin-bottom: 20px;
 }

 .add-btn button {     
    background: #C58758;
    color: white;
    border: none;
    border-radius: .25rem;
    padding: 5px 10px;
    transition: .2s all ease-in-out;
 }

 .add-btn button:hover {
     background: #8CAEC7;
     cursor: pointer;
 }

 select {
     height: 35px;
     background: none;
     border: 1px solid #313743;
     border-radius: .25rem;
     margin-bottom: 10px;
 }
