body {
    background: #FCEDD8;
}

main {    
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}

.recipe {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.recipe__title {
    font-weight: bold;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    color: #C58758;
}

.recipe__image img {
    width: 500px;
}

.recipe__description {
    font-style: italic;
    color: #8CAEC7;
    text-align: center;
}

.recipe__nutrition {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}
.recipe__nutrition th {
    color: #C58758; 
}
.recipe__nutrition td {
    color: #313743;
    text-align: center;
}

.recipe__method {
    display: flex;
    margin-top: 20px;
    color: #313743;
    width: 500px;
}

.method__label {
    font-weight: bold;
    font-size: 20px;
    color: #C58758;
}

.recipe__method ul {
    width: 50%;
}

.recipe__method li {
    list-style-type: circle;
}

.recipe__category {
    color: #313743;
    text-align: left;
    width: 100%;
    padding-left: 30px;
}